* {
  box-sizing: border-box;
}

body {
  /* background-color: white; */
  color: white;
  font-family: system-ui, sans-serif;
  /* Ensures full height compatibility across devices */
  min-height: 100dvh;
  /* margin: 200px; */
}

#background {
  /*Read a few MDN articles */
  background: center / cover no-repeat url(../images/Ingredients.jpg);

  background-size: 2000px 1000px;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-content: center;
  /* background-repeat: no-repeat; */
  /* background-position: 50% 50%;  */

  /* background-attachment: fixed; */
  /* margin: 0; */
  /* opacity: .5;  wanted background-image to be transparent */
}

h1 {
  color: darkmagenta;
  font-weight: 800;
  display: flex;
  /* justify-content: center; */
  align-self: center; 
  font-size: 70px;
  /* margin: 140px; */
}

#gamePlay {
  color: black;
  display: flex;
   justify-content: center;
   align-self: center; 
  font-size: 30px;
  border: 0.5rem solid red;
  background-color: lightyellow;
  width: 800px;
  height: 200px;
  margin: 90px;
  padding: 30px;
}

#start {
  height: 80px;
  width: 260px;
  font-size: 40px;
  color: black;
  background-color: chocolate;
  display: flex;
   /* justify-content: center; */
  align-self: center; 
  /* margin: auto;
  margin-top: 100px; */
  cursor: pointer;
  padding: 14px;
}

#cookie {
  width: 480px;
  height: 480px;
  background-image: url("../images/PBCookie.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* display: flex;
  align-items: center;
  justify-content: center; */
  border-radius: 100%;
  border: none;
  font-size: 50px;
  margin: 0;
  outline: none;
  cursor: pointer;
  display: flex;
  align-self: center;
}

/* #cookie:hover {
    
} */

#cookieClicks {
  display: flex;
  /* align-content: center; */
  justify-content: center;
  font-size: 50px;
  margin: 0;
}

#achieve {
    display: flex;
    align-self: flex-end;
    background-color: white;
    color: black;
}

/* #cookie img {
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
} */
